body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 18px;
  color: #000;
  width: 100%;
  margin: 0 auto;
  background: url("../img/pattern.png");
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: .15s all ease-out;
  color: #AAA;
}

button:focus {
  border: 0;
  box-shadow: 0;
  outline: 0;
}

button:hover {
  transform: scale(1.2);
  color: #FFF !important;
  transition: 0s all;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  background: #000;
  height: 64px;
  margin: 0 auto;
  padding: 8px 0;
  border-bottom: 16px solid #FAFAFA;
}

header .items {
  display: flex;
  width: 80%;
  height: 64px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

header .menu {
  font-size: 32px;
  width: 64px;
  height: 60px;
  margin: 0;
  float: left;
}

header .menu-content {
  z-index: -1;
  transform: scale(0);
  transform-origin: -4.5% -2.5%;
  position: fixed;
  top: 32px;
  left: calc(10% + 20px);
  background: #FFF;
  color: #AAA;
  width: 192px;
  letter-spacing: px;
  font-size: 18px;
  font-weight: 600;
  outline: 8px solid #FFF;
  border: 4px solid #FFCED2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 8px;
  transition: .3s transform ease-out;
}

header .menu-content .item {
  height: 48px;
  background: #FFF;
}

header .menu-content .item a {
  display: block;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
}

header .menu-content .item:hover {
  color: #000;
  outline: 4px solid #FFCED2;
  outline-offset: -4px;
}

header .menu-content .filler {
  height: 4px;
  background: #DDD;
  margin: 8px 0;
}

header .menu-content .filler:hover {
  background: #000;
  outline: none;
}

header .menu-content-active {
  z-index: 1;
  transform: scale(1);
}

header .search {
  font-size: 32px;
  width: 64px;
  height: 60px;
  margin: 0;
  float: right;
}

header .srch-inp {
  position: fixed;
  width: 0;
  background: transparent;
  font-size: 18px;
  border: 0;
  height: 32px;
  right: calc(10% + 72px);
  top: 24px;
  transition: .3s all ease;
  padding-left: 8px;
}

header .srch-inp-active {
  background: #fff;
  width: 250px;
}

header .title {
  font-size: 42px;
  letter-spacing: 8px;
  color: #FFF;
  width: 100%;
  height: 64px;
  text-align: center;
  line-height: 64px;
}

.land-page {
  width: 100%;
  overflow: hidden;
  height: 600px;
  background: url("../img/land-test.jpg");
  background-size: 33%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.land-page .land-list {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  left: 29%;
  top: 160px;
  width: 128px;
  padding: 16px 64px 8px 32px;
  background: #FFF;
  border: 4px solid #FFCED2;
  outline: 4px solid #FFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.land-page .land-list li {
  display: block;
  margin-bottom: 16px;
  color: #AAA;
  width: 128px;
}

.land-page .land-list li a {
  padding-bottom: 4px;
  padding-left: 8px;
  transition: .2s all ease-out;
  display: block;
  border-bottom: 4px solid #FFCED2;
  width: 128px;
}

.land-page .land-list .dresses {
  margin-left: -16px;
}

.land-page .land-list .tops {
  margin-left: 16px;
}

.land-page .land-list li:hover {
  color: #000;
  font-weight: 600;
}

.land-page .land-list li:hover a {
  padding-left: 16px;
  width: 64px;
}

.products {
  width: 100vw;
  background: #FFF;
}

.products .items-container {
  display: grid;
  margin: 0 auto;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;
}

.products .items-container .item {
  padding: 16px;
  background: #FFF;
  outline: 4px solid #FFCED2;
  height: 82%;
}

.products .items-container .item img {
  width: 100%;
}

.products .items-container .item .price {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  top: -260px;
  left: 100px;
  width: 160px;
  height: 64px;
  line-height: 64px;
  background: transparent;
  outline: 4px solid transparent;
  outline-offset: -8px;
  color: transparent;
  transition: .3s all ease;
}

.products .items-container .item .text {
  text-align: left;
  letter-spacing: 1px;
  font-size: 24px;
}

.products .items-container .item:hover .price {
  color: #000;
  background: #FFF;
  outline: 4px solid #FFCED2;
}

.products .items-container .item:hover img {
  transform: scale(1.1);
}
